.row
  .col-sm-12
    .panel.panel-default
      .panel-heading 조직 추가
      .panel-body
        .row
          .col-sm-offset-1.col-sm-6
            - unless @error.nil?
              .alert.alert-danger
                %strong 문제가 발생했습니다.
          .col-sm-offset-1.col-sm-10
            %form(role="form" method="post" action="/orgs")
              .form-group
                %label(for="org_name")
                  %span 이름
                  %span.text-danger (필수)
                %input.form-control(type="text" name="org_name" autofocus="true" pattern="^[a-z0-9_]+$" minlength="4" maxlength="30")
                - if (not @error.nil?) and @error == 'already_exists'
                  %span.text-danger 동일한 조직명이 이미 존재합니다.
                - if (not @error.nil?) and @error == 'dismiss_required_fields'
                  %span.text-danger 이 필드는 반드시 입력해야 합니다.
                - if (not @error.nil?) and @error == 'invalid_org_name'
                  %span.text-danger 영문 소문자, 숫자, '_' 문자만 허용하며, 4자 이상 30자 이하 여야 합니다.
                %p.help-block 영문 소문자, 숫자, '_' 문자만 허용하며, 4자 이상 30자 이하 여야 합니다.
              %br
              .form-group
                %label(for="description")
                  %span 설명
                  %em.text-muted (옵션)
                %span.label.label-info
                  %a.text-link.text-white(href="http://daringfireball.net/projects/markdown/syntax") markdown syntax
                  %span 를 지원합니다.
                %textarea.form-control(rows="10" name="description")
              %br
              .form-group
                %button.btn.btn-primary(type="submit") 조직 추가
                %a.btn.btn-link(href="/") 취소
